.container {
  max-width: 600px;

  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.text {
  font-size: 60px;
  font-weight: bold;
}

.underline {
  height: 2px;
  width: 50px;
  background-color: #3498db;
  margin: 0 auto;
}

.inputs {
  margin-bottom: 20px;
}

.input {
  margin-bottom: 15px;
}

input {
  width: 100%;
  font-size: large;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.summit-container {
  display: flex;
  justify-content: space-between;
}

.summit {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.summit.gray {
  background-color: #ccc;
  cursor: not-allowed;
}

.user-data {
  margin-top: 20px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}
